body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.left-column > .contact-hours-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}


/* Square Grid Styles */



